<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6">
      <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
        <img src="{{ site.github.url }}/assets/img/logos/MSG_Logo_1_black_text.png" alt="Home" width="30%">
      </a>
    </div>
    <div class="col-md-6 text-end social-media-icons" style="display: block; margin-left: auto ; margin-right: 0; margin-top: auto ;margin-bottom: auto ;">
      {% for item in site.data.settings.funders %}
        <img src="{{ site.github.url }}/{{ item.image }}" alt="Contact" style="margin: auto;" width="30%">
      {% endfor %}
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
</footer>
