<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6">
      <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
        <img src="{{ site.github.url }}/assets/img/logos/MSG_Logo_1_black_text.png" alt="Home" width="30%">
      </a>
    </div>
    <div class="col-md-6 text-end social-media-icons" style="display: flex; align-items: center; justify-content: flex-end;">
      <p style="margin: 0; margin-right: 10px;">Sponsored by</p>
      {% for item in site.data.settings.funders %}
        <img src="{{ site.github.url }}/{{ item.image }}" alt="Contact" style="margin-right: 10px; margin-bottom: 0;" width="20%">
      {% endfor %}
    </div>
  </div>
  <div style="margin-top: 1em;"></div>
  <div style="display: flex; justify-content: center;">
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
</footer>
