.members-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .supervisors, .students {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .member {
    background-color: var(--global-bg-color);
    padding: 20px;
    border-radius: 5px;
    width: 30%;
  }
  
  .member img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .students .member {
    width: calc(33.33% - 20px);
  }
