.members-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.supervisors, .PhD, .Msc {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  background-color: var(--global-bg-color);
  padding: 20px;
  border-radius: 5px;
  width: calc(33.33% - 20px); /* Display three members in each row */
  display: flex;
  flex-direction: column;
}

.member img {
  display: block;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Adjust width for smaller screens */
@media (max-width: 768px) {
  .member {
    width: calc(50% - 20px); /* Display two members in each row */
  }
}

/* Adjust width for even smaller screens */
@media (max-width: 576px) {
  .member {
    width: 100%; /* Display one member in each row */
  }
}
