---
layout: default
---

<style>
  .no-wrap {
    white-space: nowrap;
  }
</style>

<h3 class="fw-bold pb-3 mb-5">Postgraduate research projects</h3>

{{ content }}
<br><br>

{% for project in site.data.settings.projects %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <div class="col-md-6">
      <p class="no-wrap"><a href="{{ site.github.url }}/projects/{{ project.url}}">{{ project.name }}</a></p>
    </div>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <p>Status: {{ project.status }}</p>
  </div>
</div>
{% endfor %}
